{{ header }}


  <div class="main-nav-tas">
    <div class="nav main-tabs nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="nav-home-tab" href="/" role="tab" aria-controls="nav-home" aria-selected="true"><span>Купить лот</span></a>
      <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><span>Купить бриллиант</span></a> 
    </div>
  </div>
  <div class="container-fluid product-container">  
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="page-title"></h2>
            </div>
          </div>  
        </div>
      </div>
      <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="container">
          <div class="row">
              <div class="col">
                <div class="page-title-row justify-content-start">
                  <h2 class="page-back-link"><a href="{{ home_link }}#nav-profile">ВЕРНУТЬСЯ К ВЫБОРУ</a></h2> 
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12"> 
              <div class="card product-card  product-card-full p-0">
                <div class="col-sm-6 col-img p-0">
                  <div class="slider-main">
                    
                    <div id="3d-viewer" class="main-img-wrapper">
                    {% if images_3d %}
                      <div class="mz-3dimages">
                        {% for image in images_3d|reverse %}
                          <img src="{{ image }}" alt="3D Image Frame">
                        {% endfor %}
                      </div>
                    {% endif %}
                    </div>

                    {#% for image in images %}
                      <div>
                        <img src="{{ image.thumb }}" alt="{{ heading_title }}">
                      </div>
                    {% endfor %#}

                    <div id="static-img-viewer" class="main-img-wrapper">
                      <img src="{{ thumb }}" alt="{{ heading_title }}">
                    </div>

                  </div>
                  
                  <div class="slider-nav">
                    {# Это надо заменить на первое (или любое) изображение из 3д превью #}
                    <!---->
                    {#% if images_3d %}
                      <div class="nav-pic">
                          <img src="{{ images_3d | first }}" alt="{{ heading_title }}">
                      </div>
                    {% endif %#}
                    <!---->
                    {# Это надо заменить на первое (или любое) изображение из 3д превью #}
                    <div class="nav-pic" data-navindex="0">
                      <img src="{{ thumb }}" alt="{{ heading_title }}">
                    </div>
                    {% for image in images %}
                      <div class="nav-pic" data-navindex="{{ loop.index }}">
                        <img src="{{ image.thumb }}" alt="{{ heading_title }}">
                      </div>
                    {% endfor %}

                  </div>
                </div>
                <div class="col-sm-6 col-info">
                  <div class="head-panel">
                    <div class="product-title">
                      <a href="{{ href }}">{{ heading_title | replace({"ct" : ""}) }} <span class="lower-ct">ct</span> </a>
                    </div>
                    <div class="like-btn"><a href=""><img src="catalog/view/theme/bfr/image/like-btn.png" alt=""></a></div>
                  </div>
                  <div class="card-body info-panel d-flex justify-content-beetwen"> 
                    <div class="col-6 p-0">

                      {% for attribute_group in attribute_groups %}
                        {% for attribute in attribute_group.attribute %}
                        {% if attribute.attribute_id == 14 or attribute.attribute_id == 15 %}
                          <div class="info-item"><span class="info-item-title">{{ attribute.name }}: </span>{{ attribute.text }}</div>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                      
                      <div class="info-item"><span class="info-item-title">Артикул: </span>{{ model }}</div>
                    </div>
                    <div class="col-6 p-0">
                      <div class="price-panel"><span class="price-item-product">{{ price | number_format(0, ',', ' ') }} руб</span></div> 
                      
                      <button class="main-btn" onclick="cart.add('{{ product_id }}')">ВЫБРАТЬ</button>
                    </div>
                  </div>
                  <div class="product-description">
                    <h3>Описание</h3>
                    {# <p>Этот круглый бриллиант 2.15 карат имеет отличные характеристики. Подойдет как для создания уникального украшения так и в качестве инвестиции. Прошел сертификацию GIA.</p> #}
                    <p>{{ description }}</p>
                  </div>
                  <div class="product-share-row">

                    <a href="https://www.facebook.com/sharer.php?src=sp&u={{ share_url }}&title={{ heading_title }}&description={{ share_description }}&picture={{ thumb }}&utm_source=share2" target="_blank">
                      <img src="catalog/view/theme/bfr/image/share-ico/facebook-app-logo.svg" alt="facebook" class="img-svg">
                    </a>

                    <a href="https://t.me/share/url?url=http%3A%2F%2Fbestfriends.ru%2Findex.php%3Froute%3Dproduct%2Fproduct%26product_id%3D{{ product_id }}&text={{ heading_title }}&utm_source=share2" target="_blank">
                      <img src="catalog/view/theme/bfr/image/share-ico/telegram.svg" alt="telegram" class="img-svg">
                    </a>

                    <a href="https://api.whatsapp.com/send?text={{ heading_title }}%20{{ share_url }}&utm_source=share2" target="_blank">
                      <img src="catalog/view/theme/bfr/image/share-ico/whatsapp.svg" alt="whatsapp" class="img-svg">
                    </a>

                    <a href="https://twitter.com/intent/tweet?text={{ heading_title }}&url={{ share_url }}&utm_source=share2" target="_blank">
                      <img src="catalog/view/theme/bfr/image/share-ico/twitter.svg" alt="twitter" class="img-svg">
                    </a>

                    <a href="mailto:?subject={{ heading_title }}&amp;body={{ share_description }}%20{{ share_url }}" target="_blank">
                      <img src="catalog/view/theme/bfr/image/share-ico/email.svg" alt="email" class="img-svg">
                    </a>
                    {# <div class="ya-share2" data-image="{{ share_image }}" data-description="{{ description }}" data-shape="round" data-color-scheme="whiteblack" data-services="facebook,telegram,twitter,whatsapp"></div> #}
                  </div>
                </div> 
              </div> 
            </div> 
          </div>  

         
            <style>
                .mz-none {
                    display: none;
                }                
                
                .mz-3dimages img:not(:first-child) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            </style>
            
            <script>
                let mover = false;
                let counter = 0;
                let prev_frame = 0;
                let direction = 0;
                
                var mz3dimages = document.querySelector(".mz-3dimages");
                if (mz3dimages !== null) {
                  let mz3dimagesTags = mz3dimages.querySelectorAll("img");
                  let images_per_width = mz3dimages.scrollWidth / (mz3dimages.getElementsByTagName("img").length - 1);
                

                
                mz3dimages.addEventListener("touchstart", function(event){
                    mover = true;
                });
                
                mz3dimages.addEventListener("touchmove", function(event){
                    let ox = parseInt(event.targetTouches[0].pageX - mz3dimages.getBoundingClientRect().x);                    
                    
                    mz3dimagesTags.forEach(function(e){
                        e.style.zIndex = 1;
                    })
                    
                    let image_to_show = parseInt( ox / images_per_width );
                    mz3dimages.children[image_to_show].style.zIndex = 2;
                    counter = image_to_show;
                    
                    if (prev_frame > image_to_show ) {
                        direction = 1;
                    } else if(prev_frame < image_to_show ) {
                        direction = 0;
                    }
                    prev_frame = image_to_show;
                });
                
                mz3dimages.addEventListener("touchend", function(event){
                    mover = false;
                });
                
                
                mz3dimages.addEventListener("mousemove", function(event){
                    mover = true;
                    mz3dimagesTags.forEach(function(e){
                        e.style.zIndex = 1;
                    })
                    let image_to_show = parseInt( event.layerX / images_per_width );
                    mz3dimages.children[image_to_show].style.zIndex = 2;
                    counter = image_to_show;
                    if (prev_frame > image_to_show ) {
                        direction = 1;
                    } else {
                        direction = 0;
                    }
                    prev_frame = image_to_show;
                });
                
                mz3dimages.addEventListener("mouseleave", function(event){
                    mover = false;
                })
                
                
                setInterval(function(e){
                    if( !mover ) {
                        mz3dimagesTags.forEach(function(e){
                            e.style.zIndex = 1;
                        })

                        if (mz3dimages.children[counter] !== undefined) {
                          mz3dimages.children[counter].style.zIndex = 2;
                        }
                          if( direction == 0 ) {
                            counter++;
                        } else {
                            counter--;
                        }                        
                        
                        if( counter > mz3dimages.getElementsByTagName("img").length - 1) {
                            counter = 0;
                        }
                        if( counter < 0 ) {
                            counter = mz3dimages.getElementsByTagName("img").length - 1;
                        }
                    }                    
                },75)
              }
            </script>
          {# картинки для 3D #}

          {% if images_3d %}
            <div class="row mz-none">

                <b>Директория абс.</b>
                <br>
                  {{ images_3d_dir_abs }}
                <br>
                
                <b>Директория</b>
                <br>
                  {{ images_3d_dir }}
                <br>
                
                
              </div>
          {% endif %}

          {# картинки для 3D #}

          <div class="row">
            <div class="col-md-12">
              <div class="detailed-info">
                <h4 class="title">Описание бриллианта</h4>
                <h3 class="diamond-articul">SKU {{ model }}</h3>

                <table class="table">
                  <tbody>
                    {% for diamond_attribute in diamond_attributes.group1 %}
                      <tr>
                        <td>{{ diamond_attribute.name }}</td>
                        <td>{{ diamond_attribute.text }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="sec-table-wrapper collapse" id="collapseExample">
                <table class="table">
                  <tbody>
                    {% for diamond_attribute in diamond_attributes.group2 %}
                      <tr>
                        <td>{{ diamond_attribute.name }}</td>
                        <td>{{ diamond_attribute.text }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                </div>
                <button class="diamond-more-info collapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Показать больше
                  <span class="more-info-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 5.68"><g><rect class="cls-1" x="3.43" y="2.16" width="7.47" height="1.36" rx="0.68" ry="0.68" transform="translate(0.09 5.9) rotate(-45)"></rect><rect class="cls-1" x="2.16" y="-0.9" width="1.36" height="7.47" rx="0.68" ry="0.68" transform="translate(-1.18 2.84) rotate(-45)"></rect></g></svg>
                  </span>
                </button>
              </div>
            </div>
          </div>

          <div class="row"> 
            <div class="col-md-12"> 
              <div class="about-product">
                <h3>Узнайте о своем бриллианте</h3>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed">
                        Карат {{ diamond_attrs.carats }} <img src="catalog/view/theme/bfr/image/minus-sign.svg" alt="" class="img-svg minus-ico "><img src="catalog/view/theme/bfr/image/plus.svg" alt="" class="img-svg plus-ico"></a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                      <div class="carats-sizes-show">
                        <div class="carats-sizes-img-wrapper">
                          <img src="/image/carat-size/5.jpeg" alt="carat-size-img" id="carat-size-img">
                        </div>
                        <ul class="carat-sizes-list">
                          <li data-size="1">1/4</li>
                          <li data-size="2">1/3</li>
                          <li data-size="3">1/2</li>
                          <li data-size="4">3/4</li>
                          <li data-size="5" class="current-size">1</li>
                          <li data-size="6">1.5</li>
                          <li data-size="7">2</li>
                          <li data-size="8">3</li>
                        </ul>
                      </div>
                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
                        Цвет {{ diamond_attrs.color }} <img src="catalog/view/theme/bfr/image/minus-sign.svg" alt="" class="img-svg minus-ico "><img src="catalog/view/theme/bfr/image/plus.svg" alt="" class="img-svg plus-ico"></a>
                      </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">
                        Чистота {{ diamond_attrs.clarity }} <img src="catalog/view/theme/bfr/image/minus-sign.svg" alt="" class="img-svg minus-ico "><img src="catalog/view/theme/bfr/image/plus.svg" alt="" class="img-svg plus-ico"></a>
                      </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed">
                        Огранка {{ diamond_attrs.polish }} <img src="catalog/view/theme/bfr/image/minus-sign.svg" alt="" class="img-svg minus-ico "><img src="catalog/view/theme/bfr/image/plus.svg" alt="" class="img-svg plus-ico"></a>
                      </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>  
        </div>
      </div> 
    </div>
  </div>


<!-- Add to cart Modal -->
<div id="add-to-cart-modal" class="modal fade add-to-cart-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content" style="max-width: none;">
      <div class="modal-header">
      </div>
      <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Позиция добавленна в заказ</h4>
              <div class="card product-card p-0">
                <div class="col-6 col-img p-0">
                  <img src="{{ thumb }}" alt="{{ heading_title }}">
                </div>
                <div class="col-6 col-info">
                  <div class="head-panel">
                    <div class="product-title">
                      <a href="{{ href }}">{{ heading_title | replace({"ct" : ""}) }} <span class="lower-ct">ct</span> </a>
                    </div> 
                  </div>
                  <div class="card-body info-panel">
                    <div class="info-item"><span class="info-item-title">Артикул: </span>{{ model }}</div>

                    {% for attribute in attribute_groups.0.attribute %}
                      {# {% if attribute.attribute_id == 14 or attribute.attribute_id == 15 %} #}
                      {% if attribute.attribute_id != 17 %}
                        <div class="info-item"><span class="info-item-title">{{ attribute.name }}: </span>{{ attribute.text }}</div>                         
                      {% endif %}
                    {% endfor %}


                  </div>
                  <div class="price-panel"><span class="info-item-title">Цена: </span><span class="price-item-product">{{ price | number_format(0, ',', ' ') }} руб</span></div>  
                </div> 
              </div>
      </div>
      <div class="modal-footer"> 
        <a href="#"  data-dismiss="modal" class="trans-btn">Продолжить покупки</a>
        <a href="{{ cart_link }}" class="main-btn confirm-order">Оформить заказ</a>
      </div>
    </div>

  </div>
</div>

<!-- Certificate Modal -->
{# <div id="certificate-modal" class="modal fade certificate-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content" style="max-width: none;">
      <div class="modal-header">
      </div>
      <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
              <img src="/image/igi-logo.png" alt="IGI logo" class="igi-logo" style="padding: 30px 0;">
                
              <h4 class="modal-title">Этот бриллиант поставляется с сертификатом GIA</h4>
              
              <p class="cert-view-description">
                Чтобы посмотреть копию сертификата, пожалуйста, свяжитесть с нашей службой поддержки клиентов.
              </p>
              <p class="cert-view-description">
                <a href="tel:+77777777777">+7(777)777-77-77</a>
              </p>
              <p class="cert-view-description">
                Или напишите удобным для вас способом:
              </p>
              <div class="product-share-row"> 
                <a href=""><img src="/image/share-ico/telegram.svg" alt="" class="img-svg"></a>
                <a href=""><img src="/image/share-ico/whatsapp.svg" alt="" class="img-svg"></a> 
                <a href=""><img src="/image/share-ico/email.svg" alt="" class="img-svg"></a>
              </div>
      </div>
      <div class="modal-footer"> 
        <button  data-dismiss="modal" class="main-btn">Закрыть</button>
      </div>
    </div>

  </div>
</div> #}

  <!-- Ring Modal -->
  <div id="ring-modal" class="modal fade ring-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
  
      <!-- Modal content-->
      <div class="modal-content" style="max-width: none;">
        <div class="modal-header">
        </div>
        <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div id="ring-img" class="ring-modal-img-wrapper">
                  {# <img src="/image/ring_img/3.png" alt="ring"> #}
                  <div id="diamond-sizes">
                    <img src="/image/diamonds/1.png" alt="" class="diamon-size-img">
                    <img src="/image/diamonds/2.png" alt="" class="diamon-size-img">
                    <img src="/image/diamonds/3.png" alt="" class="diamon-size-img">
                    <img src="/image/diamonds/4.png" alt="" class="diamon-size-img">
                    <img src="/image/diamonds/5.png" alt="" class="diamon-size-img">
                    <img src="/image/diamonds/6.png" alt="" class="diamon-size-img">
                    <img src="/image/diamonds/7.png" alt="" class="diamon-size-img">
                    <img src="/image/diamonds/8.png" alt="" class="diamon-size-img">
                    <img src="/image/diamonds/9.png" alt="" class="diamon-size-img">
                  </div>
                </div>
                <h4 class="modal-title">Просмотр размера</h4>
                
                <div class="range-slider-wrapper">
                  <div class="range-line">
                    <span class="range-mark rm05">0.5</span>
                    <span class="range-mark rm07">0.7</span>
                    <span class="range-mark rm1">1</span>
                    <span class="range-mark rm15">1.5</span>
                    <span class="range-mark rm2">2</span>
                    <span class="range-mark rm3">3</span>
                    <span class="range-mark rm4">4</span>
                  </div>
                  <div class="min-range">0.3ct</div>
                  <input type="range" min="0" max="9" value="3.5" step="0.1" class="range-slider" id="ring-slider">
                  <div class="max-range">5ct</div>
                </div>
                
        </div>
        <div class="modal-footer"> 
          <button  data-dismiss="modal" class="main-btn">Закрыть</button>
        </div>
      </div>
  
    </div>
  </div>


{{ footer }} 
