{{ header }}

  <section class="iphone-1">
    <div class="module-content">      
      <div class="unit-copy-wrapper">
        <h2 class="headline">Потрясающие украшения</h2>
        <h3 class="subhead">Мечтай. Люби. Твори.</h3>
        <div class="pricing-info">
          <p class="price-with-carrier">Создай украшение выбрав один из популярных дизайнов или пришли свой</p>
        </div>
        <div class="cta-links">
          <a class="iphone-link" href="{{ link_main }}" target="_self">Создать</a>
        </div>
      </div>      
    </div>
  </section>

  <section class="iphone-2">
    <div class="module-content">      
      <div class="unit-copy-wrapper">
        <h2 class="headline">Уникальные бриллианты</h2>
        <h3 class="subhead">Один уже ждет тебя</h3>
        <div class="pricing-info">
          <p class="price-with-carrier"> </p>
        </div>
        <div class="cta-links">
          <a class="iphone-link" href="{{ link_main }}" target="_self">Выбрать</a>
        </div>
      </div>      
    </div>
  </section>

  <section class="iphone-3">
    <div class="module-content">      
      <div class="unit-copy-wrapper">
        <h2 class="headline">Бриллиантовые лоты</h2>
        <h3 class="subhead">Их много и они прекрасны.</h3>
        <div class="cta-links">
          <a class="iphone-link" href="{{ link_main }}" target="_self">Выбрать</a>
        </div>
      </div>      
    </div>
  </section>

{{ footer }}
