{{ header }}

  <div class="main-nav-tas">
    <div class="nav main-tabs nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><span>Купить лот</span></a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><span>Купить бриллиант</span></a> 
    </div>
  </div>


  <div class="container-fluid content-container">  
    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active search-lot-pane" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6">
              <div class="count-title">Выберите подходящий для вас набор параметров</div>
              <div class="search-product-box d-flex">
                <label class="container-radio"><span class="product-type">COLLEction</span>
                <span class="product-color">цвет: D-F</span>
                <span class="product-quality">Чистота: vvs</span>
                <input type="radio" checked="checked" name="collection-type" value="collection">
                <span class="checkmark-radio"></span>
              </label>
              <label class="container-radio"><span class="product-type">PREMIUM</span>
                <span class="product-color">цвет: g-h</span>
                <span class="product-quality">Чистота: vs</span>
                <input type="radio" name="collection-type" value="premium">
                <span class="checkmark-radio"></span>
              </label>
            </div>
            <div class="search-calc-box">
              <div class="row m-0">
                <div class="col-3 search-box-ico">
                  
                  <div class="diamond-animation-box">
                    <div class="diamond-upper-arrow"></div>
                    <div class="diamond-rs"><img src="catalog/view/theme/bfr/image/diamond-rs.png" alt=""></div>
                    <div class="diamond-lower-arrow"></div>
                  </div>

                  <div class="diamond-diameter-box">
                    <div class="diamond-diameter"><span id="diameter-value">3.4</span> мм</div>
                  </div>
                </div>

                  <div class="col-3 carat-column">
                    <div class="column-title">КАРАТность</div>
                    <div class="numb-list">
                      <div class="carat-list">
                        <span id="c0" class="min-vis carat"><br></span>
                        <span id="c1" class="now-vis carat">0.15</span>
                        <span id="c2" class="max-vis carat">0.20</span>
                        <span id="c3" class="max-vis carat">0.25</span>
                        <span id="c4" class="max-vis carat">0.30</span>
                        <span id="c5" class="max-vis carat">0.35</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 quantity-column">
                    <div class="column-title">КОЛИЧЕСТВО</div>
                    <div class="numb-list">
                      <div class="qty-list">
                        <span id="q9" class="max-vis qty"><br></span>
                        <span id="q10" class="now-vis qty">10</span>
                        <span id="q11" class="max-vis qty">20</span>
                        <span id="q12" class="max-vis qty">30</span>
                        <span id="q13" class="max-vis qty">40</span>
                        <span id="q14" class="max-vis qty">50</span>
                      </div>
                    </div>
                </div>
                  <div class="col-3 price-column">
                    <div class="column-title">стоимость</div>
                    <div class="numb-list"  id="cost-result-block">
                      <div class="cost-result">
                        <div id="collection">
                        {# qty == 10 #}
                        <span class="min-vis lot-price"><br></span>
                        <span class="now-vis lot-price">159 500</span>
                        <span class="max-vis lot-price">253 500</span>
                        <span class="max-vis lot-price">377 800</span>
                        <span class="max-vis lot-price">731 250</span>
                        <span class="max-vis lot-price">1 140 750</span>
                        {# qty == 20 #}
                        <span class="now-vis lot-price">318 000</span>
                        <span class="max-vis lot-price">507 000</span>
                        <span class="max-vis lot-price">755 600</span>
                        <span class="max-vis lot-price">1 462 500</span>
                        <span class="max-vis lot-price">2 281 500</span>
                        {# qty == 30 #}
                        <span class="now-vis lot-price">477 000</span>
                        <span class="max-vis lot-price">760 500</span>
                        <span class="max-vis lot-price">1 133 400</span>
                        <span class="max-vis lot-price">2 193 750</span>
                        <span class="max-vis lot-price">3 422 250</span>
                        {# qty == 40 #}
                        <span class="now-vis lot-price">636 000</span>
                        <span class="max-vis lot-price">1 014 000</span>
                        <span class="max-vis lot-price">1 511 200</span>
                        <span class="max-vis lot-price">2 925 000</span>
                        <span class="max-vis lot-price">4 563 000</span>
                        {# qty == 50 #}
                        <span class="now-vis lot-price">795 000</span>
                        <span class="max-vis lot-price">1 267 500</span>
                        <span class="max-vis lot-price">1 889 000</span>
                        <span class="max-vis lot-price">3 656 250</span>
                        <span class="max-vis lot-price">5 703 750</span>
                        </div>
                        <!-- premium -->
                        <div id="premium">
                        <span class="max-vis lot-price"><br></span>
                        <span class="now-vis lot-price">138 900</span>
                        <span class="max-vis lot-price">228 150</span>
                        <span class="max-vis lot-price">336 400</span>
                        <span class="max-vis lot-price">643 500</span>
                        <span class="max-vis lot-price">1 140 750</span>
                        
                        <span class="now-vis lot-price">277 899</span>
                        <span class="max-vis lot-price">456 300</span>
                        <span class="max-vis lot-price">672 800</span>
                        <span class="max-vis lot-price">1 287 000</span>
                        <span class="max-vis lot-price">2 281 500</span>
                        
                        <span class="now-vis lot-price">416 700</span>
                        <span class="max-vis lot-price">684 450</span>
                        <span class="max-vis lot-price">1 009 200</span>
                        <span class="max-vis lot-price">1 930 500</span>
                        <span class="max-vis lot-price">3 422 250</span>
                        
                        <span class="now-vis lot-price">555 600</span>
                        <span class="max-vis lot-price">912 600</span>
                        <span class="max-vis lot-price">1 349 600</span>
                        <span class="max-vis lot-price">2 574 000</span>
                        <span class="max-vis lot-price">4 563 000</span>
                        
                        <span class="now-vis lot-price">694 500</span>
                        <span class="max-vis lot-price">1 140 750</span>
                        <span class="max-vis lot-price">1 682 000</span>
                        <span class="max-vis lot-price">3 217 500</span>
                        <span class="max-vis lot-price">5 703 750</span>
                        </div>
                        <!-- premium -->

                      </div>
                    </div>
                </div>

              </div>
              <div class="lot-buy d-md-none">
                <button class="main-btn" onclick="cart.lotAdd(lotObj)">Купить лот</button>
                    <div class="recomend-buy">1.50 ct</div>
              </div>
            </div>
            </div>
            <div class="col-lg-1 d-lg-block d-md-none d-sm-none">
            </div>
            <div class="col-lg-1 d-lg-block d-md-none d-sm-none">
            </div>
            <div class="col-lg-5 col-md-6 d-md-block d-none d-sm-none"> 
              <div class="product-search-result">
                  <div class="product-search-result-title">БРИЛЛИАНТОВЫЙ ЛОТ «COLLECTION»</div>
                  <div class="product-search-result-info">
                    <div class="list-title">
                      Описание:
                    </div> 
                    <div class="list-items">Форма: Круг</div>
                    <div class="list-items">Количество бриллиантов: 82 шт</div>
                    <div class="list-items">Размер: 0,15 ct</div>
                    <div class="list-items">Чистота: VVS  </div>
                    <div class="list-items">Цвет: D-f</div>
                    <div class="list-items">Общий вес лота: 70</div>
                    <div class="list-title">
                      Сумма покупки: 
                    </div>
                    <div class="price-block">462 000 руб</div>
                  </div>
                  <div class="lot-buy">
                    <a href="" class="main-btn">Купить лот</a> 
                  </div>
                  
              </div>
            </div>
          </div>  
        </div>
      </div>


      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="container">
          <div class="row">
              <div class="col">
                <div class="page-title-row">
                  <h2 class="page-title">Выберите уникальный бриллиант</h2>
                  <div class="filter-link">
                    <span class="filter-ico"></span>                    
                  </div>
                </div>
              </div>
          </div>
          <div class="row">


            {% for brilliant in brilliants %}
            <a href="{{ brilliant.href }}" class="product-card-link">
              <div class="col-md-6"> 
                
                <div class="card product-card p-0">
                  <div class="col-6 col-img p-0">
                    
                      <img src="{{ brilliant.main_image }}" alt="">
                    
                  </div>
                  <div class="col-6 col-info">
                    <div class="head-panel">
                      <div class="product-title">
                        {# <a href="{{ brilliant.href }}">{{ brilliant.name | replace({"ct" : ""}) }} <span class="lower-ct">ct</span> </a> #}
                        <span class="brillinat-name">{{ brilliant.name | replace({"ct" : ""}) }} </span><span class="lower-ct">ct</span>
                      </div>
                      <div class="like-btn" onclick="wishlist.add('{{ brilliant.product_id }}');"><img src="catalog/view/theme/bfr/image/like-btn.png" alt=""></div>
                    </div>
                    <div class="card-body info-panel">
                      {# <div class="info-item"><span class="info-item-title">Артикул: </span>{{ brilliant.model }}</div> #}
                      
                      {% for attribute in brilliant.brilliant_attributes.0.attribute %}
                        {% if attribute.attribute_id != 16 and attribute.attribute_id != 17 %} {# убираем огранку и 3д картинки (id == 16 и 17)  #}

                          <div class="info-item"><span class="info-item-title">{{ attribute.name }} </span>{{ attribute.text }}</div>

                        {% endif %}                        
                      {% endfor %}
                      <div class="info-item"><span class="info-item-title">Сертификат </span>GIA</div>
                    </div>
                    {# <div class="price-panel"><span class="info-item-title">Цена: </span><span class="price-item-product">{{ brilliant.price | number_format(0, ',', ' ') }} руб</span></div> #}
                    <div class="price-panel"><span class="price-item-product">{{ brilliant.price | number_format(0, ',', ' ') }} руб</span></div>
                    {# <div class="doc-panel"><a href="" class="doc-link">Сертификат GIA</a><img src="catalog/view/theme/bfr/image/serf.png" alt=""></div> #}
                    {# <a href="{{ brilliant.href }}" class="main-btn">ВЫБРАТЬ</a> #}
                  </div>
                </div>
                
              </div>
              </a>
            {% endfor %}

          </div>  
        </div>
      </div> 
    </div>
  </div>
  
  <script src="catalog/view/theme/bfr/javascript/calculator.js?v10032102" type="text/javascript"></script>

  <!-- Sorting -->
  <div id="sorting" class="modal fade sorting" role="dialog">
    <div class="modal-dialog modal-dialog-centered"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          {# <a href="{{ sorts | first.href }}" class="close">Готово</a> #}
          <button class="close">&times;</button>
          <h4 class="modal-title">Сортировка</h4>
          <div class="sorting">
            <div id="sorting-list">
              <br>              
              {% for sort in sorts %}
                <a href="{{ sort.href }}">{{ sort.text }}</a>
              {% endfor %}
            </div>
          </div>
      </div> 
      </div> 
    </div>
  </div>

  {# <script src="catalog/view/theme/bfr/javascript/sorting.js?v24042101"></script> #}

{{ footer }}
